<%= form_for([@article, @comment]) do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :Opinion_of_your_opinion %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Let the debate begin" %>
  </p>
<% end %>