
<h1>Listing Opinions</h1>
<%= link_to 'Have an Opinion? Click to fill out a form', new_article_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Best Flavor of Chips</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to "Delete", article_path(article),
               method: :delete,
               data:{ confirm: "Are you sure you're wrong?"} %></td>
    </tr>
  <% end %>
</table>