<p>
  <strong>Name:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Favorite Flavor:</strong>
  <%= @article.text %>
</p>
<h2>Comments</h2>
<%= render @article.comments %>


<%#= render 'comments/form' %>
<%= link_to "Add Comment", new_article_comment_path(@article) %>
<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>